ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#menu{
    width: 200px;
}
#menu>li{
    background-color:blueviolet;
    border: 1px outset red;
    padding: 5px;
    position:relative;
}
.submenu{
    position: absolute;
    top:0;
    left:199;
    display: none;
}
.submenu>li{
    background-color: brown;
    border:1px outset green;
    width: 180px;
    padding: 2;
}
#menu li:hover{
    background-color: lawngreen;
    color:white;
    cursor: pointer;
}
#menu li:hover ul{
    display:block;
}